<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <header>
        <div class="">
            NLP
        </div>
        <div class="">
            Home
        </div>
    </header>

    <main>
        <section>
            <form id="urlForm">
                <label for="url">Please enter URL</label>
                <input id="url" type="text" name="url" placeholder="Enter URL" required>
                <button id="submitButton" type="submit">Submit</button>
            </form>

        </section>

        <section>
            <p id="loading"> Loading...</p>
            <h1>Top 10 Entities by Confidence Score</h1>
            <div id="results">
                <p id="urlText">URL: </p>
                <table id="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Matched Text</th>
                            <th>Confidence Score</th>
                            <th>Relevance Score</th>
                            <th>Wiki-Link</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">

                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <footer>
        <p>Copy Rights - Ali Helmi - 2025</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>