body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  // align-items: center;
}

main {
  flex: 2;
}

section {
  max-width: 800px;
  margin: 50px auto;
}

table,
th,
td {
  border: 1px solid black;
  padding: 1rem;
}

#loading {
  font-size: 2rem;
  margin-bottom: 1rem;
  display: none;
}

a[disabled],
a[disabled]:hover {
  pointer-events: none;
  color: #e1e1e1;
}
